h1{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 90px;
    color: firebrick;
    text-align: center;
}
div a{
    text-decoration: none;
    color:#000000 ;
    font-size: 55px;
    font-weight: bolder;
}
p{
    line-height: 40px;
    letter-spacing: 0.47px;
}
ul,li{
    line-height: 32px;
    font-style: normal;
    text-transform: capitalize;
}

hr{
    border-style: groove;
}
/* body{
    background: linear-gradient(90deg, ffcb52, f37055, 
        ef4e7b, a166ab, c165dd, 1de5e2, 5581f1);
     filter: blur(15px);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
} */