

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  font-family: 'Playfair Display', serif;
}

.skills {
    align-items: center;
    bottom: 0;
    color: #767676;
    display: flex;
    font-size: 1.7rem;
    left: 0;
    position: absolute;
}

.photo{
    align-items: center;
    display: flex;
    gap: 10rem;
    height: 65rem;
    justify-content: center;
    position: relative;
}

.photo-text{
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    position: relative;
}

.photo-text h1{
    color: #2d2e32;
    font-size: 5.5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.photo-text p {
    color: #555;
    /* change font family later */
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.6;

}

.photo img {
    -webkit-animation: morph 8s ease-in-out infinite;
    animation: morph 8s ease-in-out infinite;
    background-image: url(/static/media/pfp_webp.f334283842f7b24cafd1.webp);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 35rem;
    position: relative;
    transition: all 1s ease-in-out;
    width: 35rem;


    
}


.photo-text span {
    cursor: pointer;
    display: flex;
    gap: 1.3rem;
    margin: 2.5rem 0;
}

