img {
    overflow: hidden;
    border-radius: 50%;
    max-width: 100%;
  }
  
  .cntelemt{
    align-items: flex-end;
    /* color: darkgoldenrod; */
    float: right;
  }
  h4.cntelem{
    align-items: end;
    color: darkgoldenrod;
  }

  #picha{
    float: left;
  }
body{
  background-color: ivory;
    /* background-color: #0a192f; */
    padding: auto;
    -webkit-overflow-scrolling: touch;
}

/* scroll animation */
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
  .wor1contacts h4{
    float: right;
  }
hr{
    border-style: groove;
    /* height: 2px; */
    /* width: 100px; */
}
