body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 2rem;
  }
div {
    max-width: 600px;
  }

  span {
    display: initial;
    background-color: #006100;
    width: 140px;
    height: 140px;
  }
